<div class="row">
  <div class="column">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Operations</th>
      </tr>
      <tr *ngFor='let item of data'>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.contact}}</td>
        <td><input type="submit" value="Edit" (click)="user_one(item._id,item.name,item.email,item.contact)"></td>
        <td><input type="submit" value="Delete" (click)="del(item._id)"></td>
       
      </tr>
      
    </table>
  </div>
  <div *ngIf="!compohide" class="column" >
    <app-create  (comings)="comings()" [previous_button]="pri_button"></app-create>
  </div>
</div>


<div *ngIf="compohide" class="container" >
  <form #usersForm="ngForm" (ngSubmit)="updatedata(usersForm.value)">
      <label for="name">First name</label>
      <input type="text" [(ngModel)]="name" name="name"><br><br>
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="email" name="email"><br><br>
      <label for="contact">Contact</label>
      <input type="text" [(ngModel)]="contact" name="contact"><br><br>
      <input type="submit" value="Update">
    </form>
  </div>
  