<div class="row">
    <div class="column">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Operations</th>
        </tr>
        <tr *ngFor='let item of data'>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.contact}}</td>
          <td><input type="submit" value="Delete" (click)="del(item._id)"></td>
          <td><input type="submit" value="Edit" (click)="user_one(item._id,item.name,item.email,item.contact)"></td>
        </tr>
        
      </table>
    </div>
